<div class="bg-cover bg-center bg-fixed" style="background-image: url('https://picsum.photos/1920/1080')">
  <div class="h-screen flex justify-center items-center">
    <div class="bg-white mx-4 p-8 rounded shadow-md w-full md:w-1/2 lg:w-1/3 zoom">
      <h1 class="text-3xl font-bold mb-8 text-center">Register</h1>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <div class="mb-4">
          <label class="block font-semibold text-gray-700 mb-2" for="email">Email Address</label>
          <input
            class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email" type="email" placeholder="Enter your email address" formControlName="email" />
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-red-500 text-sm mt-1">
            Please enter a valid email.
          </div>
        </div>

        <!-- Password -->
        <div class="mb-4">
          <label class="block font-semibold text-gray-700 m b-2" for="password">Password</label>
          <input
            class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="password" type="password" placeholder="Enter your password" formControlName="password" />
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-red-500 text-sm mt-1">
            Password must be at least 6 characters long.
          </div>
        </div>

        <!-- First Name -->
        <div class="mb-4">
          <label class="block font-semibold text-gray-700 mb-2" for="firstName">First Name</label>
          <input
            class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="firstName" type="text" placeholder="Enter your first name" formControlName="firstName" />
          <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched" class="text-red-500 text-sm mt-1">
            First name is required.
          </div>
        </div>

        <!-- Last Name -->
        <div class="mb-4">
          <label class="block font-semibold text-gray-700 mb-2" for="lastName">Last Name</label>
          <input
            class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="lastName" type="text" placeholder="Enter your last name" formControlName="lastName" />
          <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched" class="text-red-500 text-sm mt-1">
            Last name is required.
          </div>
        </div>

        <!-- Address -->
        <div class="mb-4">
          <label class="block font-semibold text-gray-700 mb-2" for="address">Address</label>
          <input
            class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="address" type="text" placeholder="Enter your address" formControlName="address" />
          <div *ngIf="registerForm.get('address')?.invalid && registerForm.get('address')?.touched" class="text-red-500 text-sm mt-1">
            Address is required.
          </div>
        </div>

        <!-- Phone Number -->
        <div class="mb-4">
          <label class="block font-semibold text-gray-700 mb-2" for="phone">Phone Number</label>
          <input
            class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="phone" type="text" placeholder="Enter your phone number" formControlName="phone" />
          <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched" class="text-red-500 text-sm mt-1">
            Please enter a valid 10-digit phone number.
          </div>
        </div>

        <!-- Birth Date -->
        <div class="mb-4">
          <label class="block font-semibold text-gray-700 mb-2" for="birthDate">Birth Date</label>
          <input
            class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="birthDate" type="date" formControlName="birthDate" />
          <div *ngIf="registerForm.get('birthDate')?.invalid && registerForm.get('birthDate')?.touched" class="text-red-500 text-sm mt-1">
            Birth date is required.
          </div>
        </div>

        <!-- Profile Picture -->
        <div class="mb-4">
          <label class="block font-semibold text-gray-700 mb-2" for="profilePicture">Profile Picture</label>
          <input
            class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="profilePicture" type="file" (change)="onFileSelected($event)" />
        </div>

        <!-- Submit Button -->
        <div class="mb-6">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
            type="submit">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
